<!DOCTYPE html>
<html lang="ja">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Dpro{% endblock %}</title>
    <meta name="description" content="テキストテキストテキストテキストテキストテキストテキストテキスト">
    
    <!-- リセットCSSと外部スタイル -->
    <link rel="icon" href="{% static 'images/home/favicon.ico' %}">
    
    <!-- プロジェクトの基本CSS -->
    <link rel="stylesheet" href="{% static 'css/home/base.css' %}">

    <!--はんなり明朝フォント-->
    <link href="https://fonts.googleapis.com/earlyaccess/hannari.css" rel="stylesheet">

    {% block extra_css %}{% endblock %}
</head>
<body class="expand-from-line">
    <header id="header">
        <h1 class="site-title">
            <a href="#">Dpro</a>
        </h1>
        <nav id="navi">
            <ul class="nav-menu">
                <li><a href="#pickup">PICK UP</a></li>
                <li><a href="#feature">FEATURE</a></li>
                <li><a href="#contact">CONTACT</a></li>
            </ul>
            <ul class="nav-sns">
                <li>
                    {% if user.is_authenticated %}
                        <a href="{% url 'accounts:index' %}">アカウント</a>
                    {% else %}
                        <a href="{% url 'accounts:login' %}">ログイン</a>
                    {% endif %}
                </li>
                <li>
                    <form id="logout-form" method="post" action="{% url 'accounts:logout' %}" style="display:none;">
                        {% csrf_token %}
                    </form>
                    <a href="#" onclick="document.getElementById('logout-form').submit(); return false;">
                        ログアウト
                    </a>
                </li>

                <!-- 下段：一旦放置 -->
                <!--<li><a href="#" target="_blank">Instagram</a></li>-->
            </ul>
        </nav>
        <div class="toggle_btn">
            <span></span><span></span><span></span>
        </div>
        <div id="mask"></div>
    </header>

    <main id="main">
        {% block content %}{% endblock %}
    </main>


    <!-- スクリプト -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="{% static 'js/home/index.js' %}"></script>
    <script src="{% static 'js/home/scroll-anime.js' %}"></script>
    <script src="{% static 'js/home/animation.js' %}"></script>
    <script src="{% static 'js/scroll.js' %}"></script>
    {% block extra_js %}{% endblock %}
</body>
</html>
