{% load static %}
<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <title>蔵書楽園 - Book Eden</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="本が好きな人同士で集まる">
    
    <!-- リセットCSSと外部スタイル -->
    <link rel="icon" href="{% static 'images/home/favicon.ico' %}">
    

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css">

    <!--はんなり明朝フォント-->
    <link href="https://fonts.googleapis.com/earlyaccess/hannari.css" rel="stylesheet">
    
    <!-- プロジェクトの基本CSS -->
    <link rel="stylesheet" href="{% static 'css/home/style.css' %}">

    {% block extra_css %}{% endblock %}
</head>
<body class="home">
    <!--▼▼▼▼▼ここから「ヘッダー」-->
    <header>

    <h1 id="logo"><a href="{% url 'home' %}"><img src="{% static 'images/home/logo.svg' %}" alt="book_eden"></a></h1>

    <nav>
    <ul>
    <li><a href="#kono">この場所は?</a></li>
    <li><a href="#tools">ツールのご案内</a>
      <ul>
      <li><a href="#sakutou">索灯</a></li>
      <li><a href="#ensho">縁書</a></li>
      <li><a href="#huuenn">風縁</a></li>
      <li><a href="#tukuyomi">月詠</a></li>
      </ul>
    </li>
    <li><a href="#koe">お客様の声</a></li>
    <li><a href="#faq">よく頂く質問</a></li>
    </ul>
    </nav>

    </header>

    <!--▲▲▲▲▲ここまで「ヘッダー」-->

    <main">
        {% block content %}{% endblock %}
    </main>

    <!--▼▼▼▼▼ここから「フッター」-->
    <footer>

    <div class="text">

    <div>
    <h4>Company</h4>
    <p>東京都世田谷区深沢4-12-9<br>
    電話番号  03-2468-1357<br>
    </p>
    </div>

    <div>
    <h4>Follow Us</h4>
    <ul class="icons">
    <li><a href="#"><i class="fa-brands fa-x-twitter"></i></a></li>
    <li><a href="#"><i class="fab fa-line"></i></a></li>
    <li><a href="#"><i class="fab fa-youtube"></i></a></li>
    <li><a href="#"><i class="fab fa-instagram"></i></a></li>
    </ul>
    </div>

    </div>

    <div class="image">
    <p class="logo"><img src="{% static 'images/home/BookE.svg' %}" alt=""></p>
    <small>&copy; Book Eden</small>
    </div>

    </footer>
    <!--▲▲▲▲▲ここまで「フッター」-->


    <!--/#container-->

    <!--開閉ボタン（ハンバーガーアイコン）-->
    <div id="menubar_hdr">
    <div class="menu-icon">
    <span></span><span></span>
    </div>
    </div>

    <!--開閉ブロック-->
    <div id="menubar">

    <nav>
    <ul>
    <li><a href="#kono">この場所は?</a></li>
    <li><a href="#tools">ツールのご案内</a>
      <ul>
      <li><a href="#sakutou">索灯</a></li>
      <li><a href="#ensho">縁書</a></li>
      <li><a href="#huuenn">風縁</a></li>
      <li><a href="#tukuyomi">月詠</a></li>
      </ul>
    </li>
    <li><a href="#koe">お客様の声</a></li>
    <li><a href="#faq">よく頂く質問</a></li>
    <li><a href="{% url 'form' %}">お問い合わせ</a></li>
    <li><a href="#">ご相談</a></li>
    </ul>
    </nav>

    <p>こちらのメニューでは空の場所をクリック、またはタップしても閉じません。<br>
    メニューの右上にあるバツマークを押してお閉じください</p>

    </div>
    <!--/#menubar-->

    
    <!-- スクリプト -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/protonet-jquery.inview/1.1.2/jquery.inview.min.js"></script>
    <script src="{% static 'js/home/jquery.inview_set.js' %}"></script>
    <script src="{% static 'js/home/main.js' %}"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    {% block extra_js %}{% endblock %}
</body>
</html>
