{% extends "home/base.html" %}
{% load static %}

{% block content %}
<body class="home">

<div id="container">


<!--▼▼▼▼▼ここからログインボタン-->
<p id="btn-special">
  <a href="{% url 'accounts:login' %}" class="border" data-bs-toggle="modal" data-bs-target="#loginmodal">
    <i class="fa-solid fa-book-open"></i>読書を始める
  </a>
</p>
<!--▲▲▲▲▲ここまで-->


<!--▼▼▼▼▼ここから「スライドショー」-->
<div id="svg-box">

<div class="slide-type1">

<div class="slide img1">
<a href="#"><img src="{% static 'images/home/1.jpg' %}" alt=""></a>
</div>

<div class="slide img2">
<a href="#"><img src="{% static 'images/home/2.jpg' %}" alt=""></a>
</div>

<div class="slide img3">
<a href="#"><img src="{% static 'images/home/3.jpg' %}" alt=""></a>
</div>

<!--インジケーターボタン（現在表示中ボタン）-->
<div class="slide-indicators"></div>

</div>
<!--/.slide-type1-->

<svg width="0" height="0" viewbox="0 0 1600 900">
<defs>
<clippath id="myclip1" clippathunits="objectboundingbox">
<path transform="scale(0.000625,0.001111)" d="m244.6,20v64c0,11-9,20-20,20h19.6c-11,0-20,9-20,20v756c0,11,9,20,20,20h1560c11,0,20-9,20-20v20c0-11-9-20-20-20h264.6c-11,0-20,9-20,20z">
</clippath>
</defs>
</svg>

</div>
<!--▲▲▲▲▲ここまで「スライドショー」-->

<main>

<!--▼▼▼▼▼ここから「この場所は?」-->
<section class="box1" id="kono">

<p class="deco-text">where place?</p>
<img src="{% static 'images/home/illust1.svg' %}" alt="" class="illust1">
<img src="{% static 'images/home/illust2.svg' %}" alt="" class="illust2">

<div class="text order1 blur">

<h2><span class="main-text">この場所は?</span><span class="sub-text">where place?</span></h2>

<p>ここは、言葉が紡ぐ無限の世界、その入口。誰かの思索が文字となり、誰かの夢が頁に描かれた、その痕跡が静かに佇む場所です。背表紙の間をそっと歩けば、聞こえてくるのは語られなかった物語の囁き。頁をめくれば、そこに広がるのは、かつて誰かが辿った想像の旅路。ここに集う本たちは、ただ読むためだけに存在するのではありません。それは、あなた自身の心を映し、新たな問いと答えを紡ぎ出すための、鏡のような存在なのです。</p>
<p>この地に足を踏み入れたあなたは、すでに旅人です。蔵された書の一つひとつが灯台となり、あなたを未知なる地平へと誘います。見つけるべき本が、既にあなたを待っているかもしれません。そして、その一冊との出会いが、あなた自身の物語を新たに動かし始めることでしょう。この場所はただの「蔵」ではありません。それは、読む者の心に光を灯し、未来へ続く航路を照らすために存在しているのです。</p>

<p class="btn1"><a href="#">view more</a></p>

</div>
<!--/.text-->

<div class="image blur">
<img src="{% static 'images/home/sample1.jpg' %}" alt="" class="speed1">
<img src="{% static 'images/home/sample2.jpg' %}" alt="" class="speed2">
</div>

</section>
<!--▲▲▲▲▲ここまで「この場所は?」-->

<!--▼▼▼▼▼ここから「ツールのご案内」-->
<section class="logo-kazari padding-lr0" id="tools">

<div class="title-bg blur">
<h2><span class="tate order1">本ツールのご案内</span><span class="yoko">tool information</span></h2>
</div>

<div class="list1 image1 up" id="sakutou">

<div class="text">

<h3><span class="large">索</span>灯<span>書の旅路を辿り、<br>未知の知識や物語に出会う瞬間を求めて</span></h3>
<p>まるで深い森を彷徨う旅人のように、一冊一冊の背表紙に手を伸ばす。目に映る文字の羅列は、静かに語りかけてくる声のように、何か新しい世界への扉を開こうとしている。知識の欠片や物語の息吹が、隠された宝物のようにその中に眠っていることを知っているからこそ、一つの本との出会いが胸を高鳴らせる。選び取ったその一冊が、どんな新しい景色を見せてくれるのか、心の奥底で期待が膨らむ。</p>
        <p class="btn2"><a href="{% url 'search_books:index' %}">view more</a></p>

</div>

</div>
<!--/.list1.image1-->

<div class="list1 image2 up" id="ensho">

<div class="text reverse">

<h3><span class="large">縁</span>書<span>book match</span></h3>
<p>ここは、書物の魂と人の心が交わり、新たな縁を紡ぎ出す場にございます。無数の背表紙が静かに佇むさまは、まるで時を超えて巡り合いを待つ者のよう。頁の奥に秘められし言の葉は、あなたが手を伸ばすその瞬間を、いとおしく待ち続けているのです。古の筆者が込めた想いと、読む者の心が響き合うとき、新たな物語が息吹くのを知るでしょう。</p>
<p class="btn2"><a href="#">view more</a></p>

</div>

</div>
<!--/.list1.image2-->

<div class="list1 image3 up" id="huuenn">

<div class="text">

<h3><span class="large">風</span>縁<span>wind connection</span></h3>
<p>これは、書の香に誘われし風が縁を結び、志を同じくする者どもをここに導く、不思議なる集いの場なり。風は時に穏やかに、時に力強く、遠き地より人を呼び寄せ、言葉と心を結び合わせる。書の頁に宿る物語のさざ波は、風に乗りて、巡り巡りて出会うべき者のもとへたどり着く。ここに集いし人々は、ひとたび書を開けば、その風の流れに身を委ね、新たな縁を紡ぎゆく。</p>
<p class="btn2"><a href="#">view more</a></p>

</div>

</div>
<!--/.list1.image3-->

<div class="list1 image4 up" id="tukuyomi">

<div class="text reverse">

<h3><span class="large">月</span>詠<span>lunar chronicles</span></h3>
<p>ここは、月影のもと、書の縁を紡ぐための場にございます。読まれた一冊一冊が、まるで夜空に浮かぶ星のように、あなたの記憶に輝き、未来の道しるべとなりましょう。月齢に応じて広がる書の世界、それは移ろう月と共に新たな景色を描き出します。まさにここは、言の葉が風となり、あなたを知恵と感動の旅路へ誘う静謐なる書架の園。</p>
<p class="btn2"><a href="#">view more</a></p>

</div>

</div>
<!--/.list1.image4-->

</section>
<!--▲▲▲▲▲ここまで「ツールのご案内」-->

<!--▼▼▼▼▼ここから「横サムネイルスライドショー」-->
<section class="slide-thumbnail-box">

<div class="slide-thumbnail1">
<div class="img rtl">
<div><a href="{% url 'search_books:index' %}"><img src="{% static 'images/home/1.jpg' %}" alt=""></a></div>
<div><a href="#"><img src="{% static 'images/home/2.jpg' %}" alt=""></a></div>
<div><a href="#"><img src="{% static 'images/home/3.jpg' %}" alt=""></a></div>
<div><a href="#"><img src="{% static 'images/home/4.jpg' %}" alt=""></a></div>
</div>
</div>

<div class="slide-thumbnail1">
<div class="img ltr">
<div><a href="{% url 'search_books:index' %}"><img src="{% static 'images/home/1.jpg' %}" alt=""></a></div>
<div><a href="#"><img src="{% static 'images/home/2.jpg' %}" alt=""></a></div>
<div><a href="#"><img src="{% static 'images/home/3.jpg' %}" alt=""></a></div>
<div><a href="#"><img src="{% static 'images/home/4.jpg' %}" alt=""></a></div>
</div>
</div>

</section>
<!--▲▲▲▲▲ここまで「横サムネイルスライドショー」-->

<!--▼▼▼▼▼ここから「その他のツール」-->
<section class="bg1">

<h2 class="c no-line"><span class="main-text">その他のツール</span><span class="sub-text">another tools</span></h2>

<div class="list-grid1">

<div class="list blur">
<figure><a href="{% url 'search_books:index' %}"><img src="{% static 'images/home/1.jpg' %}" alt=""></a></figure>
<div class="text">
<h4>タイトル</h4>
<p></p>
</div>
</div>

<div class="list blur">
<figure><a href="#"><img src="{% static 'images/home/2.jpg' %}" alt=""></a></figure>
<div class="text">
<h4>タイトル</h4>
<p></p>
</div>
</div>

<div class="list blur">
<figure><a href="#"><img src="{% static 'images/home/3.jpg' %}" alt=""></a></figure>
<div class="text">
<h4>タイトル</h4>
<p></p>
</div>
</div>

<div class="list blur">
<figure><a href="#"><img src="{% static 'images/home/4.jpg' %}" alt=""></a></figure>
<div class="text">
<h4>タイトル</h4>
<p></p>
</div>
</div>

</div>
<!--/.list-grid1-->

</section>
<!--▲▲▲▲▲ここまで「その他のツール」-->

<!--▼▼▼▼▼ここから「お客様の声」-->
<section id="koe">

<h2 class="c"><span class="main-text">レビュー</span><span class="sub-text">customer testimonials</span></h2>

<div class="list-yoko-scroll">

<div class="list">
<h4>とても満足です。</h4>
<p class="text">レビュアー</p>
<p class="name"><img src="{% static 'images/home/sample3.jpg' %}" alt=""></p>
</div>

<div class="list">
<h4>とても満足です。</h4>
<p class="text"></p>
<p class="name"><img src="{% static 'images/home/sample3.jpg' %}" alt=""></p>
</div>

<div class="list">
<h4>とても満足です。</h4>
<p class="text"></p>
<p class="name"><img src="{% static 'images/home/sample3.jpg' %}" alt=""></p>
</div>

</div>

<p class="btn3"><a href="#">view more</a></p>

</section>
<!--▲▲▲▲▲ここまで「お客様の声」-->

<!--▼▼▼▼▼ここから「よく頂く質問」-->
<section class="faq" id="faq">

<h2>よく頂く質問<span class="kazari">faq</span></h2>

<div class="text">

<dl>

<dt>特に質問は内容ですね</dt>
<dd>やあ</dd>

</dl>

<p class="btn3 white"><a href="#">view more</a></p>

</div>

</section>
<!--▲▲▲▲▲ここまで「よく頂く質問」-->

<!--▼▼▼▼▼ここから「contact」と「consultation」-->
<section class="padding0">

<div class="list-c2">

<a href="{% url 'form' %}">
<div class="list image1">
<div class="text">
<h4><span class="sub-text">お問い合わせ</span><span class="main-text">contact</span></h4>
<p>何かお困りごとやご用件がございましたらこちらからお問い合わせください</p>
</div>
</div>
</a>

<a href="#">
<div class="list image2">
<div class="text">
<h4><span class="sub-text">実装未定</span><span class="main-text">pending</span></h4>
<p>申し訳ありませんが、こちらのサービスはまだ実装予定です<br>
<br>
</p>
</div>
</div>
</a>

</div>
<!--/.list-c2-->

</section>
<!--▲▲▲▲▲ここまで「contact」と「consultation」-->

<!--▼▼▼▼▼ここから「お知らせ」-->
<section>

<h2 class="c no-line"><span class="main-text">お知らせ</span><span class="sub-text">news</span></h2>

<dl class="new">
<dt>2024/11/23</dt>
<dd>ページ公開</dd>
</dl>

</section>
<!--▲▲▲▲▲ここまで「お知らせ」-->


</main>


{% endblock %}


