/* 全体のスタイル */
body {
    margin: 0;
    padding: 0;
    height: 100vh;
    background: url('/static/images/accounts/login_background.jpg') no-repeat center center fixed;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    font-family: 'Noto Serif JP', serif;
}

/* 暗くするオーバーレイ */
body::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    z-index: 1;
}

#icon-preview {
    width: 100px; /* 横幅を固定 */
    height: 100px; /* 縦幅を固定 */
    object-fit: cover; /* 画像を枠内に収めて切り抜き */
    border: 1px solid #ccc; /* 枠線を追加 */
    border-radius: 50%; /* 円形にする */
    margin-top: 10px;
    display: block; /* プレビューを表示 */
}

/* サインアップボックス */
.signup-page {
    z-index: 2;
    width: 100%;
    max-width: 800px;
    background: rgba(255, 255, 255, 0.9);
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    animation: fadeIn 0.8s ease-in-out;
}

/* アニメーション */
@keyframes fadeIn {
    from {
        opacity: 0;
        transform: scale(0.9);
    }
    to {
        opacity: 1;
        transform: scale(1);
    }
}

/* サインアップタイトル */
.signup-title {
    font-size: 1.8rem;
    font-weight: bold;
    text-align: center;
    margin-bottom: 20px;
    color: #555;
}

/* フォーム */
.stage {
    text-align: center;
}

label {
    display: block;
    margin-bottom: 10px;
    font-size: 1rem;
    color: #555;
}

.signup-input {
    width: 100%;
    padding: 12px;
    font-size: 1rem;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 15px;
    box-sizing: border-box;
}

.signup-input::placeholder {
    color: #a9a9a9; /* グレー */
    font-style: italic; /* イタリック（オプション） */
    opacity: 0.5; /* 不透明度（デフォルトは1） */
}

.signup-input:focus {
    border-color: #827C75;
    box-shadow: 0 0 8px rgba(130, 124, 117, 0.3);
}

/* ボタン */
.btn-next, .btn-submit {
    width: 100%;
    padding: 12px;
    background-color: #827C75;
    color: #fff;
    font-size: 1.2rem;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.btn-next:hover, .btn-submit:hover {
    background-color: #6b6258;
}


/* エラーメッセージのスタイル */
.errorlist {
    margin: 5px 0 10px 0;
    padding: 0;
    list-style: none;
    color: red;
    font-size: 0.9rem;
}

/* フォームコンテナ全体 */
.form-container {
    display: flex;
    justify-content: space-between;
    gap: 20px; /* カラム間の隙間 */
}

/* 各カラム */
.form-column {
    flex: 1;
}

/* フォームのラベルや入力欄 */
.form-group label {
    display: block;
    margin-bottom: 8px;
    font-size: 1rem;
    color: #555;
}

.signup-input {
    width: 100%;
    padding: 12px;
    font-size: 1rem;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 15px;
    box-sizing: border-box;
}

.hint {
    display: block;
    font-size: 0.85rem;
    color: #777;
    margin-top: -10px;
    margin-bottom: 10px;
}
