<!DOCTYPE html>
<html lang="ja">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Dpro Book Search{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'css/search_books/base.css' %}">

    {% block extra_css %}{% endblock %}
</head>
<body>
    <header class="header-transparent">
        <div class="nav-container">
            <h1 class="site-title">
                <a href="#">Find Book</a>
            </h1>
            <nav class="main-nav">
                <ul>
                    <li><a href="/">トップ</a></li>
                    <li><a href="/logout/">ログアウト</a></li>
                </ul>
            </nav>
            <div class="toggle_btn">
                <span></span><span></span><span></span>
            </div>
        </div>
        <div id="mask"></div>
    </header>

    <main>
        {% block content %}{% endblock %}
    </main>

    <footer>
        <p>&copy; 2024 Book Search</p>
    </footer>

    
  <!--スクリプトの読み込み-->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick.min.js"></script>
    <script src="{% static 'js/search_books/filter_menu.js' %}"></script>
    <script src="{% static 'js/search_books/header.js' %}"></script>
    <script src="{% static 'js/scroll.js' %}"></script>
</body>
</html>
