<!DOCTYPE html>
<html lang="ja">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Dpro Book Search{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'search_books/base.css' %}">
    <link rel="stylesheet" href="{% static 'search_books/search_books.css' %}">
</head>
<body>
    <header>
        <h1>Book Search Application</h1>
    </header>

    <main>
        {% block content %}{% endblock %}
    </main>

    <footer>
        <p>&copy; 2024 Book Search</p>
    </footer>
</body>
</html>

