{% extends "search_books/base.html" %}

{% block title %}Book Search{% endblock %}

{% block content %}
    <div class="search-container">
        <h1>本を検索する</h1>
    <form method="GET" action="{% url 'search_books:search_books' %}">
        <input type="text" name="query" placeholder="本を検索" value="{{ query }}">
        <button type="submit">検索</button>
    </form>

    {% if books %}
        <ul>
            {% for book in books %}
                <li>
                    <h2>{{ book.volumeInfo.title }}</h2>
                    <p>{{ book.volumeInfo.authors|join:", " }}</p>
                    <p>{{ book.volumeInfo.publishedDate }}</p>
                </li>
            {% endfor %}
        </ul>
    {% else %}
        <p>本が見つかりませんでした。</p>
    {% endif %}
</div>
{% endblock %}
