.titles {
    display: flex;
    align-items: center;
}
.titles img {
    height: 2.5rem;
    margin-bottom: .3rem;
    margin-left: .3rem;
}
.titles h1 {
    margin-left: .5rem;
}
header hr {
    margin: 0;
}

.main {
    display: grid;
    flex-grow: 1;
    grid-template-rows: auto;
    grid-template-columns: 1fr;
}
#left {
    display: flex;
    flex-direction: column;
    grid-column: 1/2;
    height: 100%;
}
#left ul {
    min-width: 300px;
}
#right {
    display: flex;
    flex-direction: column;
    grid-column: 2/3;
    height: 100%;
}
.graph {
    width: 70%;
    height: fit-content;
    position: relative;
    margin-left: auto;
}
.graph iframe {
    display: none;
}
.graph img {
    width: 100%;
    border: 1px black solid;
}
.graph a {
    float: right;
}
.log-area {
    display: flex;
    flex-direction: column;
    grid-column: 2/3;
    height: 100%;
}
.logs {
    width: auto;
    border: 1px black solid;
    flex-grow: 1;
}

.noaccount {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#popup-area {
    transition: all .3s .1s;
    /* opacity: 0; */
    /* display: none; */
}
#popup-area:hover {
    cursor: pointer;
}
.frame-parent {
    width: 60%;
    aspect-ratio: 16/9;
    border-radius: 5px;
    border: darkgray 2px solid;
    background-color: white;
    margin: auto;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    position: absolute;
}
.frame-parent iframe {
    width: 100%;
    height: 100%;
    display: block;
    z-index: 1;
    position: absolute;
    transition: all .3s;
}
.frame-parent img {
    position: absolute;
    margin: auto;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 30%;
}
.frame-parent h1 {
    position: absolute;
    margin: auto;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: fit-content;
    height: fit-content;
}