/* Search Container */
.search-container {
    margin-top: 50px;
    color: #f0f0f0;
}

.search-container h1 {
    font-size: 2.5rem;
    color: #bfa128; /* 金色 */
}

.search-container input[type="text"] {
    padding: 15px 20px;
    font-size: 18px;
    width: 400px;
    border-radius: 8px;
    border: 1px solid #555;
    background-color: #2e2e2f;
    color: #f0f0f0;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);
    outline: none;
    transition: border 0.3s, box-shadow 0.3s;
}

.search-container input[type="text"]:focus {
    border-color: #d4af37;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.6);
}

.search-container button {
    padding: 12px 30px;
    font-size: 18px;
    border-radius: 8px;
    background-color: #1e1e1f;
    color: #d4af37;
    border: 2px solid #d4af37;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
}

.search-container button:hover {
    background-color: #d4af37;
    color: #1c1c1e;
}

/* Book Results */
.book-results {
    margin-top: 50px;
}

.book-results ul {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
    gap: 20px;
}

.book-results .book-card {
    background-color: #1c1c1e;
    border-radius: 12px;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.5);
    padding: 20px;
    text-align: center;
    transition: transform 0.3s, box-shadow 0.3s;
    list-style: none;
    border: 1px solid #555;
    width: 100%;
    max-width: 220px;
}

.book-results .book-card:hover {
    transform: translateY(-8px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.7);
}

.book-results img {
    max-width: 100%;
    height: auto;
    border-radius: 8px;
    margin-bottom: 10px;
}

.book-results h3 {
    font-size: 1.4rem;
    color: #f0f0f0;
    margin: 10px 0;
}

.book-results p {
    font-size: 1rem;
    color: #aaa;
    margin-bottom: 5px;
}
