{% extends 'VTDbank/base.html' %}

{% block title %}請求作成ページ{% endblock %}

{% block content %}

{% load widget_tweaks %}
<div class="p-3">
    <h1>請求を作成</h1>
    <form action="" method="post" id="form">
        {% csrf_token %}
        <div class="mb-3">
            <label for="id_to_user">請求先:</label>
            {% render_field form.to_user class+="form-select" %}
        </div>
        <div class="mb-3">
            <label for="id_amount">金額:</label>
            {% render_field form.amount class+="form-control" %}
        </div>
    <!-- <input type="submit" value="送信"> -->
    </form>
    <button onclick="check()" class="btn btn-primary" style="width: fit-content;">送信</button>
    {% if messages %}
    {% for message in messages %}

    <div class="messages alert {% if message.tags == 'success' %}alert-primary{% elif message.tags == 'error' %}alert-danger{% endif %}" role="alert" style="width: fit-content;">
        {{ message }}
    </div>
    {% endfor %}
    {% endif %}
</div>

<script>
    function check() {
        const target = document.getElementById("id_to_user").value;
        const amount = document.getElementById("id_amount").value;

        if ((target&&amount)=="") {
            alert("全てのフィールドを入力してください。");
            return;
        }
        const targetText = document.getElementById("id_to_user").options[target].innerText;
        if(confirm(`以下の内容で送信します。\nよろしいですか?\n請求先:${targetText}\n金額:${amount}`)) {
            document.getElementById("form").submit();
        }
    }
</script>
{% endblock %}