{% extends 'VTDbank/base.html' %}

{% block title %}Graph{% endblock %}

{% block content %}
{% load static %}
<link rel="stylesheet" href="{% static 'css/VTDbank/graph.css' %}">

<form action="" method="post" id="form">
    {% csrf_token %}
    {{ form.tz }}
    <input type="submit" value="送信">
</form>

{% if graph == "" %}
<script>
    function LoadGraph() {
        const form = document.getElementById("form");
        const tzField = document.getElementById("id_tz");

        tzField.value = Intl.DateTimeFormat().resolvedOptions().timeZone;
        form.submit();
    }
    LoadGraph();
</script>
{% else %}
<img src="data:image/png;base64, {{ graph }}" alt="graph" class="w-100 h-100">
<script>
    window.parent.LoadGraph("data:image/png;base64, {{ graph }}");
</script>
{% endif %}

{% endblock %}
