{% extends 'VTDbank/base.html' %}

{% block title %}マイページ{% endblock %}


{% block content %}


{% load static %}
{% load humanize %}
<link rel="stylesheet" href="{% static 'css/VTDbank/index.css' %}">

<header>
    <div class="titles">
        <img src="{% static 'images/VTDbank/icon.svg' %}" alt="">
        <h1>VTD BANK</h1>
    </div>
    <hr>
</header>
{% if is_created %}

<div class="main">
    <div id="left">
        <h3>現在の所持金:{{ my_data.value | intcomma }} VTD</h3>
        <p>最終更新:{{ my_data.updated_at }}</p>
        <h3>現在未払いの請求</h3>
        <ul class="list-group">
            {% for app_claim in app_claims %}
            <li class="list-group-item">
                <span class="text-danger fw-bold">請求元:{{ app_claim.app_name }}</span>
                <br>
                <span class="text-danger">請求金額:{{ app_claim.amount }} VTD</span>
            </li>
            {% endfor %}
            {% for claim in claims %}
            <li class="list-group-item">
                <span>請求者:{{ claim.from_user }}</span>
                <br>
                <span>請求金額:{{ claim.amount }} VTD</span>
                <form action="{% url 'VTDbank:payclaim' claim.id %}" method="post">
                    {% csrf_token %}
                    <input type="submit" class="btn btn-primary" value="支払う" style="position: absolute; right: 10px; top: 0; bottom: 0; margin: auto; height: min-content;" {% if claim.amount > my_data.value %}disabled{% endif %}>
                </form>
            </li>
            {% endfor %}
        </ul>
        <input type="button" value="請求を作成" class="btn btn-primary mt-2 w-fit" onclick="showPopup(`{% url 'VTDbank:claim' %}`)">
    </div>
    <div id="right">
        <div class="graph">
            <h4>収支履歴</h4>
            <iframe src="{% url 'VTDbank:graph' %}" frameborder="0"></iframe>
            <img src="{% url 'VTDbank:graph' %}" alt="" id="graph">
            <a class="link-primary" onclick="showPopup(`{% url 'VTDbank:logs' %}`)" role="button"><span>全てのログを見る</span></a>
        </div>
    </div>
    <div id="popup-area" class="w-100 h-100 position-absolute top-0" style="opacity: 0; pointer-events: none;" onclick="hidePopup()">
        <div id="popup-bg" class="w-100 h-100 bg-black opacity-75"></div>
        <div class="frame-parent">
            <img src="{% static 'images/VTDbank/load.gif' %}" alt="loading">
            <h1>LOADING</h1>
            <iframe src="" frameborder="0" id="another-frame"></iframe>
        </div>
    </div>
</div>

<script>
    const graph = document.getElementById("graph");
    function LoadGraph(b64) {
        graph.src = b64;
    }

    function showPopup(url) {
        const popup = document.getElementById("popup-area");
        popup.style.opacity = 1;
        popup.style.pointerEvents = "all";

        const frame = document.getElementById("another-frame");
        frame.src = "";
        frame.src = url;
    }

    function hidePopup() {
        const popup = document.getElementById("popup-area");
        popup.style.opacity = 0;
        popup.style.pointerEvents = "none";

        // const frame = document.getElementById("another-frame");
        // frame.src = "";
    }
</script>

{% else %}

<div class="noaccount">
    <h1>
    VTDがアカウントに紐づけられていません。
    </h1>
    <form action="{% url 'VTDbank:register' %}" method="post" name="register">
        {% csrf_token %}
        <span><a href="javascript:register.submit()">こちら</a>からVTDアカウントを作成できます。</span>
    </form>
</div>

{% endif %}

{% endblock %}