{% extends "main/base.html" %}
{% load static %}

{% block title %}Main Hub - Dpro{% endblock %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/main/index.css' %}">
{% endblock %}

{% block content %}
<div id="main-hub">
    <section id="intro">
        <h2 class="sec-title">Django-Project</h2>
    </section>

    <section id="features">
        <div class="parent-sec-title">
            <h2 class="sec-title">Features</h2>
        </div>
        <div class="grid">
            <div class="item">
                <img src="{% static 'images/feature/book_search.png' %}" alt="Feature 1">
                <div class="item-content">
                    <h3>本を見つける</h3>
                    <p>好きな本を見つける時に</p>
                    <a href="{% url 'search_books:index'%}" class="styled-button">詳しく見る</a>
                </div>
            </div>
            <div class="item">
                <img src="{% static 'images/feature/ai_book.jpg' %}" alt="Feature 2">
                <div class="item-content">
                    <h3>BookMind</h3>
                    <p>AIがあなたの特徴から興味のありそうな本を検索します</p>
                    <a href="#" class="styled-button">詳しく見る</a>
                </div>
            </div>
            <div class="item">
                <img src="{% static 'images/feature/book_chat.jpg' %}" alt="Feature 3">
                <div class="item-content">
                    <h3>PageLink</h3>
                    <p>本が好きな仲間を見つけるチャットツール的</p>
                    <a href="#" class="styled-button">詳しく見る</a>
                </div>
            </div>
        </div>
    </section>

    <section id="more-info">
        <h2 class="sec-title">More Information</h2>
        <p>Dproの最新情報やアップデート、ヘルプドキュメントにアクセスできます。</p>
        <a href="#" class="styled-button">詳細はこちら</a>
    </section>
</div>
{% endblock %}
