{% load static %}

<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <title>ホーム</title>
</head>
<body>
    <h1>ようこそ、{{ user.username }}さん！</h1>
    {% if user.icon %}
        <img src="{{ user.icon.url }}" alt="User Icon">
    {% else %}
        <img src="{{ MEDIA_URL }}icon/default_icon.png" alt="Default Icon">
    {% endif %}

    <p>これはログイン後のホームページです。</p>

    <!-- ログアウトフォーム -->
    <form method="post" action="{% url 'accounts:logout' %}">
        {% csrf_token %}
        <button type="submit">ログアウト</button>
    </form>

</body>
</html>
